<div class="max-w-4xl mx-auto">
        <div class="grid grid-flow-row grid-cols-2 gap-8 my-16">
            <a href="{{ url }}" class="w-full h-full border-gray-400 shadow hover:shadow-lg transition rounded">
                <img src="{{image }}" class="rounded-t"></a>
            <div>
                <p>{{ title }}</p>
                <p>Year: {{ year }}</p>
                <p>Kms: {{ kms }}</p>
                <p>Fuel: {{ fuel }}</p>
                <p>Price: {{ price }}€</p>
            </div>
        </div>
</div>
